*{
    font-family: 'Gowun Batang', serif;
    box-shadow: none;
}
body{
    background-image: url("background.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    background: rgba( 244, 244, 244, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 30rem;
    height: 60vh;
    
}

#intro{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}

#people{
    width: 8rem;
    height: 18vh;
}

.sentence{
    padding-top: 40px;
    font-family: 'Gowun Batang', serif;
}


.textlogin{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 20rem;
    height: 5vh;
    padding-right: 10px;

}

input{
    margin-top: 1.3rem;
    height: 3vh;
}

#h4{
    padding-right: 10px;
}

#login{
    display: flex;
    flex-direction: row;
}

button{
    margin-top: 1.3rem;
    height: 9vh;
}